.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E2F3DC;
  font-family: Agenda;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #123f92;
}

.link:hover {
  color: #1c80bc;
}

.logo {
	width: 90px;
  height: 95px;
  object-fit: cover;
}

.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 10px;
  width: 10%;
  background: #8851eb;
}

.line-medium {
  height: 10px;
  width: 20%;
  background: #1c80bc;
}

.line-hard {
  height: 10px;
  width: 40%;
  background: #123f92;
}

h1 {
  color: #123f92;
  font-size: 56px;
  font-family: agenda;
}

h2 {
	color: #1c80bc;
	font-size: 50px;
	font-family: agenda;
}

h3, h4, h5, h6 {
	color: white;
	font-size: 28px;
	font-family: agenda;
	background: #123f92;

}

b, strong {
	color: #123f92;
	font-family: agenda;
}

p, ul, ol {
	color: black;
	font-family: agenda;
	font-size: 20px;
	text-align: left;
	padding: 40px;
}

h1, h2 {
	text-align: center;
}

a:hover {
  color: #123f92;
}

a, a:hover {
  text-decoration: none;
}

div {
  font-family: Agenda;
}

.cadre {
 background-color: #67def2;
 border-radius:7px;
}

.actu {
  width: 682px;
  height: 682px;
  object-fit: cover;
}

.fond_gris {
	background-color: #edebeb;
	box-shadow: 3px 5px 5px ;
	margin: 15px;

}

body {
	background-color: #77aa77;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.my-btn {
	display: inline-block;
  color: white;
  background: #123f92;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-family: Agenda;
}
  .my-btn:hover {
  color: #1c80bc;
}

 {
  font-family: Agenda;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

